<div class="wrapper d-flex flex-column min-vh-100">
    <div class="content flex-grow-1">
      <!-- Contenido de la página -->
    </div>
    
    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal 123, Concepcion</li>
              <li><i class="fas fa-phone"></i> Teléfono: +1234567890</li>
              <li><i class="fas fa-envelope"></i> Correo electrónico: info@example.com</li>
            </ul>
          </div>
          <div class="col-lg-6 text-lg-end">
            <p class="mb-0">Derechos de autor &copy; 2023 - Emanuel Bustos</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  