{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-2">
  <h2>Listado de Vehículos</h2>
  <div class="container">
    <div class="table-responsive">
      <table class="table mt-2">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Serial Carrocería</th>
            <th>Serial Motor</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Condicion de Precio</th>
          </tr>
        </thead>
        <tbody>
          {% for vehiculo in vehiculos %}
            <tr>
              <td>{{ vehiculo.marca }}</td>
              <td>{{ vehiculo.modelo }}</td>
              <td>{{ vehiculo.serial_carroceria }}</td>
              <td>{{ vehiculo.serial_motor }}</td>
              <td>{{ vehiculo.categoria }}</td>
              <td>{{ vehiculo.precio }}</td>
              <td>{{ vehiculo.obtener_categoria_precio }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7">No hay vehículos registrados.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
